*
    margin: 0
    padding: 0
    transition: all 1s
:root
    --base-color: #317773
    --background-color: #F5F7FA
    --text-color: #232323
    --white-color: #fff
body, html
    margin: 0
    padding: 0
    font-family: 'Gilroy', sans-serif
    background-color: var(--background-color)

.header
    position: fixed
    width: 100%
    height: 75px
    z-index: 1
    top: 0

    backdrop-filter: blur(10px)
    background-color: rgba(255, 255, 255, 0.2)
    &__content
        display: flex
        justify-content: space-between
        align-items: center
        margin: 0 auto
        width: 95%
        height: 100%
        & .logo
            font-size: 18px
            font-weight: 600
            &::before
                content: '🚀 Quantum Dev // ваш успех в каждом коде!'
                margin-right: 10px
                color: var(--text-color)
        & .contact
            display: flex
            align-items: center
            justify-content: center
            width: 178px
            height: 52px
            border: 2px solid var(--base-color)
            border-radius: 5px
            color: var(--base-color)
            text-decoration: none
            font-weight: 600
            font-size: 16px
            transition: all 0.3s
            &:hover
                background-color: var(--base-color)
                color: var(--white-color)
                transition: all 0.3s

.section
    color: var(--text-color)
    &.banner
        background: url("../img/banner.svg") no-repeat center center/cover
        & .title
            font-size: 72px
            font-weight: 700
            margin-bottom: 20px
            width: 700px
    &__content
        margin: 0 auto
        width: 95%
        & .points
            margin-top: 40px
            display: flex
            align-items: center
            flex-wrap: wrap
            gap: 25px
            & .point
                display: flex
                align-items: center
                gap: 15px
                & .text
                    font-size: 18px
                    font-weight: 600
                 
@media (max-width: 750px)
    *
        transition: all 1s
    .header
        &__content
            & .logo
                font-size: 16px
                &::before
                    content: '🚀 Quantum Dev'
            & .contact
                width: 150px
                height: 42px
                font-size: 14px

    .section
        &.banner
            & .title
                font-size: 42px
                width: 100%
.fp-watermark
    display: none !important
